@font-face {
    font-family: myFirstFont;
    src: url(../fonts/FrutigerLTArabic-55Roman.ttf);
}
@font-face {
    font-family: myFirstFontB;
    src: url(../fonts/FrutigerLTArabic-65Bold.ttf);
}
body {
    direction: rtl;
    font-family: myFirstFont;
}
.button{
    font-family: myFirstFont;
    font-size: 15px;
}
.form-control{
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: myFirstFontB;
}
/*.owl-carousel{*/
/*direction: ltr;*/
/*}*/
.mega-menu .menu-links > li.active a,
.mega-menu .menu-links > li > a:hover,
.mega-menu .drop-down a:hover, .mega-menu .drop-down-tab-bar a:hover,
.mega-menu .menu-links > li.active .drop-down a:hover,
.mega-menu .drop-down-multilevel li:hover > a,
.search .search-btn:hover, .footer-widget a,
ul.page-breadcrumb li a:hover,
.sidebar-widget .widget-categories li a:hover,
.sidebar-widget .widget-categories li a:hover i, .footer-useful-link ul li a:hover {
    color: #ead64c;
}

.button, #back-to-top .top {
    background: #00abdf;
}

.blog-box .post-category a {
    background-color: #ead64c;
}

.blog-overlay .tag {
    background: #ead64c;
}

.button {
    border-color: #00abdf;
}

.search .search-box button:hover, .listing-post-meta .theme-color a, .blog-entry .blog-detail .entry-title a:hover,
.dark-color {
    color: #00abdf;
}

.button:hover, .button:focus {
    background: #009fcf;
    color: #ffffff;
    border-color: #009fcf;
}

.remember-checkbox input[type="checkbox"] {
    display: block;
    position: absolute;
    opacity: 0;

}

/*.remember-checkbox label.error:before,*/
/*.remember-checkbox label.error:after{*/
/*display: none;*/
/*}*/
.remember-checkbox {
    position: relative;
}

p.mom-text {
    margin-bottom: -5px;
    font-size: 12px;
    margin-top: -10px;
    color: red;
}

.remember-checkbox label.error {
    position: absolute;
    bottom: -16px;
    padding: 0;
}

.button.button-border.white:hover, .button.button-border.white:focus,
a, button, input,
.button.icon-color,
a:hover,
.theme-color,
.entry-button a.button.arrow,
.blog-entry .entry-meta ul li i,
.remember-checkbox a, .comments-1 .comments-info a {
    color: #2c9984;
}

.mega-menu .menu-logo img {
    height: 50px;
}

.mega-menu .menu-logo {
    padding: 17px 0 25px;
}

.light-gray-bg {
    background: #f6f6f6;
}

.section-title:nth-child(odd) .title-effect::before,
.login-bg .login-title {
    background: #00abdf;
}

.title-effect::before {
    opacity: 0.3;
}

.title-effect::before {
    right: 0;
    left: auto;
    transform-origin: right;
}

.mega-menu * {
    text-align: right;
}

.search .search-box button {
    right: auto;
    left: 27px;
}

.button + .button {
    margin-left: 0;
    margin-right: 20px;
}

.business-banner-03 span {
    letter-spacing: 1px;
}

.slider-content a i {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.slider-content a i.fa-sign-in {
    transform: rotate(180deg);
}

.blog-box.blog-2 .button.icon-color {
    float: left;
}

.button.icon-color i {
    margin-left: 0;
    margin-right: 10px;
    border-color: #2c9984;
}

.button.icon-color:hover i {
    transform: translateX(-3px);
}

.blog-info span {
    margin-right: 0;
    margin-left: 6px;
}

.blog-info h4 {
    font-size: 20px;
}

::selection {
    background: #00abdf;
}

.blog-overlay .blog-name {
    padding-right: 30px;
    padding-left: 0;
}

.blog-overlay {
    text-align: right;
}

.owl-carousel .owl-dots .owl-dot:hover span, .owl-carousel .owl-dots .owl-dot.active span {
    background: #00abdf;
}

a.blog-name-left.theme-bg {
    background: #eeda4d;
}

.blog-name-left.theme-bg i {
    transform: scale(1);
    transition: all 0.5s;
    font-size: 18px;
}

.listing-post-meta .theme-color a {

}

.blog-name-left.theme-bg:hover i {
    transform: scale(1.3);
}

.listing-post .blog-name .blog-name-left {
    line-height: 55px;
}

.listing-post .listing-post-info .listing-post-meta ul li {
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
    margin-left: 5px;
    padding-left: 10px;
}

.listing-post .listing-post-info .listing-post-meta ul li:last-child {
    border: 0;
}

.addresss-info i {
    float: right;
    padding-left: 5px;
    padding-right: 0;
}

.social-icons li {
    margin: 0 0 8px 8px;
}

.page-title .page-breadcrumb {
    float: left;
    text-align: left;
}

.sidebar-widget .widget-categories li i {
    padding-right: 2px;
    margin-left: 10px;
    margin-right: 0;
}

.entry-button a.button.arrow {
    letter-spacing: 0;
    font-weight: 500;
}

.entry-button a.button.arrow:hover {
    background: transparent;
    color: #00abdf;
}

.entry-button a.button.arrow:focus {
    background-color: transparent;
}

.button.arrow i {
    padding-right: 5px;
    padding-left: 0;
    position: relative;
    top: 2px;
    transition: padding-right 0.3s;
}

.button.arrow:hover i {
    padding-right: 10px;
}

.blog-detail .media img.pearson-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.blog-entry .entry-meta ul li i {
    padding-left: 6px;
    padding-right: 0;
}

.blog-entry .entry-meta ul li {
    margin-right: 0;
    margin-left: 12px;
}

.blog-entry .entry-meta ul li i {
    padding-right: 0;
}

.pagination li a:focus, .pagination li a:hover, .pagination li span:focus, .pagination li span:hover {
    background-color: #eeda4d;
}

.sidebar-widget {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.sidebar-widget:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

h6.pearson-name {
    color: #838383;
}

.last-tests figure {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
}

.last-tests figure img {
    border-radius: 4px;
    width: 90px;
    height: 80px;
    transform: scale(1);
    transition: all 0.5s;
    filter: brightness(75%);
}

.last-tests a:hover img {
    transform: scale(1.2);
}

.last-tests a {
    margin: 5px;
    display: inline-block;
}

.last-tests .figure-title {
    position: absolute;
    text-align: center;
    bottom: 5px;
    right: 0;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.tagname {
    font-size: 11px;
    font-weight: 500;
}

.serch-form input {
    background: #e1e1e1;
}

.filter button,
.filter .btn-primary.focus,
.btn-primary:focus {
    background-color: #2c9984;
    border-color: #24816f;

}

.filter .btn-primary.focus,
.filter .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(44, 153, 132, 0.52);
}

.filter .btn-primary:hover,
.login-social li a.fb:hover,
.login-social li a.twitter:hover {
    background: #00abdf;
}

.filter .btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #2c9984;
    border-color: #24816f;
}

.filter .collapse .sidebar-widget {
    border: 2px dashed #24816f;
}

.log-in-section {
    background-color: #00abdf;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.login-bg .login-form {
    padding: 20px 30px;
}

.login-social li i {
    border-left: 1px solid #fff;
    padding-left: 10px;
    margin-left: 10px;
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

.info-box .fa-heart {
    color: #d33333;
}

.info-box .fa-pencil {
    color: #00abdf;
}

.info-box {
    margin-top: 15px;
}

.info-box li i {
    font-size: 20px;
    line-height: 35px;
    transform: scale(1);
    transition: all 0.2s;
    transform-origin: center;
}

.info-box li a:hover i {
    transform: scale(1.2);
}

.info-box li span {
    position: absolute;
    top: -10px;
    right: -7px;
    font-size: 11px !important;
    background: #ebd74c;
    line-height: 22px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.info-box li {
    background: #ececec;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.social-icons li {
    margin: 8px 4px 4px 8px;
}

.comments-1 .comments-info a {
    font-weight: 600;
}

label.error {
    margin-top: 4px;
    color: red;
    font-size: 13px !important;
    margin-bottom: 0;
}

.login-form label.error {
    position: absolute;
    bottom: -29px;
}

.login-form .my-chick label.error {
    bottom: -18px;
}

.my-chick input {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}

.section-field {
    position: relative;
}

.add-youtube-link .input-group-append {
    position: absolute;
    left: 0;
    height: 100%;
    width: auto;
    z-index: 10;
}

.add-youtube-link .input-group-append i {
    color: #cd201f;
    font-size: 30px;
}

.custom-file-label::after {
    right: auto;
    left: 0;
    content: "تصفح";
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "تصفح";
    font-family: 'Changa', sans-serif;
    font-size: 15px;
}

.custom-file-label {
    padding-top: 0.6rem;
}

.ytp-pause-overlay, .ytp-player-content {
    display: none !important;
}

.tagggle-like {
    cursor: pointer;
}

.tagggle-like.fa-heart {
    color: #cd201f !important;
}

.tab-border .nav.nav-tabs > li > a.active, .tab-border .nav.nav-tabs > li > a.active:focus, .tab-border .nav.nav-tabs > li > a.active:hover {
    color: #2c9984;
}

.add-youtube-link .input-group-append i.fa-facebook-f {
    color: #3b5999;
    margin-right: 4px;
}

.add-youtube-link .input-group-append i.fa-twitter {
    color: #55acee;
}

.add-youtube-link .input-group-append i.fa-linkedin {
    color: #0077B5;
}

.add-youtube-link .input-group-append .input-group-text {
    min-width: 54px;
}

.blog-detail .entry-title a {
    float: right;
}

.blog-detail .product-reviews-summary {
    float: left;
}

.rating-summary {
    position: relative;
}

.rating-summary .rating-result {
    margin-left: 5px;
    width: 74px;
    position: relative;
}

.rating-summary .rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'FontAwesome';
    z-index: 1;
    color: #c7c7c7;
    font-size: 15px;
    height: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    content: '\f006' '\f006' '\f006' '\f006' '\f006';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.rating-summary .rating-result > span {
    display: block;
    overflow: hidden;
}

.rating-summary .rating-result span:before {
    color: #fea800;
    font-family: 'FontAwesome';
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
    font-size: 15px;
    height: 16px;
    line-height: 1;
    letter-spacing: 1px;
}

.rating-summary .rating-result > span:before {
    position: relative;
    z-index: 2;
    font-family: 'FontAwesome';
    color: #fea800;
    font-size: 15px;
    height: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.product-reviews-summary h5 {
    font-size: 14px;
    margin-bottom: 0;
}

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}

.star-cb-group * {
    font-size: 1.7rem;
}

.star-cb-group > input {
    display: none;
}

.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}

.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}

.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #eeac38;
    text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}

.star-cb-group > .star-cb-clear + label:before {
    width: .5em;
}

.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #eeb83c;
    text-shadow: 0 0 1px #333;
}

.commt-rate-container {
    margin-bottom: -25px;
}

body {
    background: #333;
    color: #888;
}

/*fieldset {*/
/*border: 0;*/
/*background: #222;*/
/*width: 5em;*/
/*border-radius: 1px;*/
/*padding: 1em 1.5em 0.9em;*/
/*margin: 1em auto;*/
/*}*/

#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

.social-icons li a {
    color: #fff;
}

.top-header-social {
    background-color: #333;
}

.top-logo-header img {
    max-height: 120px;
    margin-top: 20px;
    max-width: 100%;
}

.business-banner-03 h1 {
    margin-bottom: 0;
}

.about-section .section-title {
    margin-bottom: 20px;
}

.about-section p {
    font-size: 16px;
    text-align: justify;
}

.register-section h4 {
    border-bottom: 2px solid #00abdf;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.table-1 tbody tr td {
    color: #6e6e6e;
    font-size: 17px;
    padding: 12px 0;
    text-align: center;
}

.table-1 thead tr th {
    font-size: 18px;
}

.table-1 thead {
    background: #7ebf7f;
}

.register-section {
    background: url(../assets/images/location-bg.jpg);
    position: relative;
}

.register-section::before {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.76);
    width: 100%;
    height: 100%;
    top: 0;
}

.register-section .table-striped tbody tr {
    background: rgb(229, 229, 229);
}

.register-section .table-striped tbody tr input {
    width: 17px;
    height: 17px;
    position: relative;
    top: 4px;
}

.register-section .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(246, 246, 246);
}

#participation, #about-us {
    display: none;
}
#participation .form-control{
    padding: 10px 15px 10px 20px
}
.register-section .table-1 tbody tr td {
    padding: 3px 0;
}

#participation .form-control {
    background: rgba(0, 171, 223, 0.25);
}

#participation .radio label {
    color: #333;
    margin: 0;
}

#participation .radio input {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 14px;
    right: 10px;
}

#participation {
    background-color: #f6f6f6;
}

#participation .radio {
    position: relative;
}

#participation .radio label {
    background: rgba(0, 171, 223, 0.25);
    padding: 12px 30px 12px 10px;
    border-radius: 3px;
    display: block;
}

/*#about-us{*/
/*background-color: #00abdf;*/
/*background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");*/
/*}*/
/*#participation  .radio label + input:checked {*/
/*background: #333 !important;*/
/*}*/
.radio.radio-50 label.error {
    position: absolute;
    bottom: -21px;
    background: transparent !important;
    right: 0;
    padding: 0 !important;
    color: red !important;
}

.section-field > label {
    font-size: 17px;
}

.section-field .custom-select {
    border: 0;
    background-color: #b9e4f1;
    height: 47px;
}
.my-footer .col-md-4{
    text-align: center;
}
.my-footer .col-md-4 h5{
    color: #00abdf;
    font-size: 25px;
}
.my-footer .col-md-4 h6{
    color: #00abdf;
    font-size: 22px;
}
.my-footer .col-md-4 h6 + img{
    max-width: 90%;
}
.my-footer .col-md-4 img{
    max-height: 140px;
}
.my-footer{
    padding: 20px 0;
}
.my-footer{
    margin: 20px 0;
    border-top: 2px solid #00abdf;
    border-bottom: 2px solid #00abdf;
}
.my-footer p{
    font-size: 19px;
    color: #00abdf;
}
.wrapper , html , body{
    background: #fff;
}
p.hashtag{
    position: relative;
    padding-left: 9px;
}
p.hashtag::after{
    position: absolute;
    content: '';
    display: block;
    height: 17px;
    width: 2px;
    background-color: #423b8f;
    left: 0;
    bottom: 4px;
}
p.wa3y-footer{
    color: #423b8f;
    padding-right: 3px;
}
.footer-list-social li a{
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50px;
    background-color: #423b8f;
    text-align: center;
    color: #fff;
}
@media (max-width: 991px) {
    .mega-menu .menu-logo {
        padding: 10px 0;
    }

    .page-title .page-breadcrumb {
        text-align: center;
    }

    .mega-menu .menu-logo img {
        height: 30px;
        margin: 5px 0;
    }

    .mega-menu .menu-links > li > a i.fa.fa-indicator {
        left: 20px;
        right: auto;
    }

    .page-title {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

@media (min-width: 992px) {
    .reply-card {
        padding-right: 95px;
    }
}
@media (min-width: 767px) {
    .border-left-md,
    .border-left-sm{
        position: relative;
    }
    .border-left-md::after ,
    .border-left-sm::after{
        position: absolute;
        left: 0;
        width: 2px;
        height: 64%;
        bottom: 0px;
        content: '';
        display: block;
        background-color: #00abdf;
    }
    .border-left-sm::after{
        height: 38%;
    }
}
